*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 
  "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
}

.upper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0 150px 0;
  background: url("images/apple-web-2.png") 0 0 no-repeat;
  background-size: 100% 100%;
  background-clip: border-box;
  background-origin: border-box;
  margin-bottom: 0;
}

.container {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container > nav {
  width: 100%;
  display: flex;
  height: 35px;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
  background: 
  linear-gradient(
    180deg,
    rgb(116, 116, 116) 47%,
    rgb(87, 87, 87) 48%,
    rgba(137, 137, 137, 1) 120%
  );
  font-weight: 600;
  padding: 0;
}

footer > div > p > a {
  color: rgb(0, 136, 204);
  text-decoration: none;
}

.help-link-nav > a {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px 40px;
  font-size: 1vw;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border-right: 1px solid gray;
  height: 100%;
}

.left-footer-div > p > a {
  margin: 0 5px;
}

.right-footer-div > p > a {
  margin: 0 5px;
}

footer > div > p > a:hover {
  text-decoration: underline;
}

.help-link-nav > a:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.help-link-nav > a:hover {
  background-color: rgba(5, 5, 5, 0.4);
}

.help-link-nav > a:nth-child(1) {
  font-size: 20px;
}

footer > div {
  flex-basis: 42%;
}

.help-link-nav > div {
  padding: 5px 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.help-link-nav > div > input {
  width: 80%;
  background-image: url("images/superior-search.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 2px 50%;
  padding: 2px 3px 2px 20px;
  background-color: transparent;
  border: 0.5px solid rgb(100, 100, 100);
  border-radius: 30px;
  box-shadow: inset 0 2px 1px #333;
  color: white;
}

.watch-par > img {
  margin-left: 10px;
}

.verse-div > a > img {
  width: 100%;
}

.every-div {
  margin-bottom: 20px;
}

.every-div > a > img {
  width: 100%;
}

.play-link {
  text-decoration: none;
}

.play-link:hover {
  text-decoration: underline;
  color: white;
}

.watch-par {
  font-size: 1.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.lower-sec-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 13.6vw;
  grid-gap: 2px;
  margin-bottom: 20px;
  margin-top: 2px;
}

.lower-sec-div > div {
  background-size: 100% auto;
}

.phone1 {
  background: url("images/Iphone-1.jpg") 0 0 no-repeat;
}

.phone2 {
  background: url("images/Iphone-2.jpg") 0 0 no-repeat;
}

.phone3 {
  background: url("images/Iphone-3.jpg") 0 0 no-repeat;
}

.phone4 {
  background: url("images/supplier.jpg") 0 0 no-repeat;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: rgb(120, 120, 120);
  padding: 5px 50px;
  margin-bottom: 20px;
}

.left-footer-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-footer-div > p {
  display: flex;
  align-items: center;
  padding: 7px 0;
}

.right-footer-div {
  display: flex;
  flex-direction: column;
}

.right-footer-div > p {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
